In [4]:
import sqlite3
import pandas as pd
import numpy as np
from API_Key import key, username, password
import requests
import time
import psycopg2 as pg2
import json

In [5]:
# Creating connection to postgresql and reading in table
conn = pg2.connect(database='TFT', user=username, password=password)
df = pd.read_sql(sql=("SELECT puuid FROM userids"),con=conn)

In [6]:
df

                                                  puuid
0     NlnF3MD3Oql-eZ1_wsDTvVZmjbRkvXxZmqHs6J-DICnAw3...
1     52KszL3rKcjmYlw_JVhvyNaxSrTTJ7s-v8n_DGI9Ee7zzu...
2     lulnZYdr9TQqEMn4apmrsszlm2E7UYNNn8MvCQVDP43uJm...
3     Q77ztFel8tbR1wy9gQ82L3HC1LzjWDIsJ9oi90sSQbNUaS...
4     SVA-NwBkEjZIiPBY5eGBD_h8S87Lrm4ZLmEloTF_tC4yyl...
...                                                 ...
4720  TW3X4jfqMWusBh3WnxkZ0dV-naWiDRTOcdz52bS0wWQCgC...
4721  Cw__yB_QwrIy5jkJTDOzRQwnDahuLvJPCxOXgowdjfT2g-...
4722  SX739RmR79yofIWr3_937k5PPyswPHmf4JBVKwSvtxbgeu...
4723  C-VdSzR56FctSoPqVF0aiEJ-D3UQ22qiSCwAP1e--rEmN_...
4724  UWM6FkrJp9g5yXEee0Sif2iCcJsUQg6Cez-Iqct1zRH5Ou...

[4725 rows x 1 columns]