In [1]:
import pandas as pd
import numpy as np
from API_Key import username, password
import requests
import time
import psycopg2 as pg2
import json
from pandas.io.json import json_normalize
import pyspark
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession \
    .builder \
    .appName("TFT Analysis") \
    .config("spark.jars", "/Users/hiowatah/downloads/postgresql-42.2.18.jar") \
    .getOrCreate()

In [6]:
df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://localhost:5432/TFT") \
    .option("dbtable", "matches") \
    .option("user", username) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .load()

In [7]:
df.show(5)

+--------------+-------------+------------------+--------------------+---------+----------+-----+---------+--------------------+------------------+------------+--------------------+--------------------+
|         match|game_datetime|       game_length|        game_version|gold_left|last_round|level|placement|               puuid|   time_eliminated|total_damage|              traits|               units|
+--------------+-------------+------------------+--------------------+---------+----------+-----+---------+--------------------+------------------+------------+--------------------+--------------------+
|NA1_3162393839|1569867523766|  2263.49267578125|Version 9.19.290....|        3|         1|    7|        1|a3U9LKm3Gs6LoKuJW...| 2241.134033203125|         196|[{"name": "Assass...|[{"items": [], "n...|
|NA1_3162393839|1569867523766|  2263.49267578125|Version 9.19.290....|        1|         1|    7|        4|ZqdoVA4Q1x9vfCGI6...| 2107.736083984375|         122|[{"name": "Bladem...|[{"items": [], "n...|
|NA1_3162393839|1569867523766|  2263.49267578125|Version 9.19.290....|       18|         1|    8|        5|CbzNpaTOk4ZIdMZb1...|1844.2413330078125|          87|[{"name": "Assass...|[{"items": [], "n...|
|NA1_3162393839|1569867523766|  2263.49267578125|Version 9.19.290....|       63|         1|    7|        6|PbnixBPQ9SeDo5gsD...|  1684.49658203125|          42|[{"name": "Assass...|[{"items": [], "n...|
|NA1_3162393839|1569867523766|  2263.49267578125|Version 9.19.290....|        1|         1|    8|        8|AidJDUCfOyQcEE8t_...|1548.5345458984375|          40|[{"name": "Brawle...|[{"items": [], "n...|
|NA1_3162393839|1569867523766|  2263.49267578125|Version 9.19.290....|        5|         1|    7|        7|3uXL-hsEgH7NKtOSQ...|1614.8319091796875|          28|[{"name": "Assass...|[{"items": [], "n...|
|NA1_3162700134|1569881799245|  2472.10205078125|Version 9.19.290....|        0|         1|    7|        3|Da9T8xt3zEeF_slec...| 2275.161865234375|         129|[{"name": "Assass...|[{"items": [], "n...|
|NA1_3162393839|1569867523766|  2263.49267578125|Version 9.19.290....|        0|         1|    8|        3|4amme_iNIsi3w1avZ...| 2107.802001953125|         148|[{"name": "Demon"...|[{"items": [], "n...|
|NA1_3162393839|1569867523766|  2263.49267578125|Version 9.19.290....|       11|         1|    8|        2|Wzsu8JU3jSpOeGSBm...| 2241.134033203125|         161|[{"name": "Bladem...|[{"items": [], "n...|
|NA1_3162408255|1569869817872|2018.8280029296875|Version 9.19.290....|       27|         1|    8|        7|9OnzKhRqEHegxqUkk...|1667.7630615234375|          65|[{"name": "Demon"...|[{"items": [], "n...|
|NA1_3162408255|1569869817872|2018.8280029296875|Version 9.19.290....|        2|         1|    7|        1|t5Auwb5UOAkRYjm8E...|   1995.8427734375|         212|[{"name": "Brawle...|[{"items": [], "n...|
|NA1_3162408255|1569869817872|2018.8280029296875|Version 9.19.290....|       22|         1|    7|        8|zBKQ7N1L4RVMVZQE4...|   1368.7607421875|          21|[{"name": "Demon"...|[{"items": [], "n...|
|NA1_3162408255|1569869817872|2018.8280029296875|Version 9.19.290....|        0|         1|    8|        4|4amme_iNIsi3w1avZ...| 1925.838623046875|          92|[{"name": "Bladem...|[{"items": [], "n...|
|NA1_3162408255|1569869817872|2018.8280029296875|Version 9.19.290....|        0|         1|    8|        5|qm3zWM41m8zIzdcCp...|1921.0489501953125|         119|[{"name": "Assass...|[{"items": [], "n...|
|NA1_3162408255|1569869817872|2018.8280029296875|Version 9.19.290....|        1|         1|    8|        2|llyW0FRPxP-SHPvU4...|   1995.8427734375|         124|[{"name": "Assass...|[{"items": [], "n...|
|NA1_3162408255|1569869817872|2018.8280029296875|Version 9.19.290....|        1|         1|    8|        3|02fOcNlFGb8tlqCg3...|1929.9666748046875|         103|[{"name": "Assass...|[{"items": [], "n...|
|NA1_3162408255|1569869817872|2018.8280029296875|Version 9.19.290....|        1|         1|    7|        6|vG4g8Ue79AvWopbil...| 1812.147705078125|          96|[{"name": "Assass...|[{"items": [], "n...|
|NA1_3162434176|1569872395223| 2262.599853515625|Version 9.19.290....|        2|         1|    8|        1|ePMdyN0A-jJeG06UE...|  2239.41552734375|         226|[{"name": "Assass...|[{"items": [], "n...|
|NA1_3162434176|1569872395223| 2262.599853515625|Version 9.19.290....|       25|         1|    8|        3|by9cq3_GaZ5zfnzo8...|  2163.15673828125|         120|[{"name": "Assass...|[{"items": [], "n...|
|NA1_3162434176|1569872395223| 2262.599853515625|Version 9.19.290....|        0|         1|    8|        7|QmH4pB_tsfXydg7qr...|     1837.88671875|          43|[{"name": "Bladem...|[{"items": [], "n...|
+--------------+-------------+------------------+--------------------+---------+----------+-----+---------+--------------------+------------------+------------+--------------------+--------------------+
only showing top 20 rows

In [7]:
query1 = "SELECT * FROM matches WHERE game_version LIKE '%Version 11%'"

In [94]:
conn = pg2.connect(database='TFT', user=username, password=password)
c = conn.cursor()
c.execute(query1)
colnames = [desc[0] for desc in c.description]
matches = c.fetchall()
df = pd.DataFrame(matches, columns = colnames)
conn.close()

In [96]:
df = df[df['units'] != '[]']

In [97]:
df = df[df['traits'] != '[]']

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12312 entries, 1 to 12343
Data columns (total 13 columns):
match              12312 non-null object
game_datetime      12312 non-null int64
game_length        12312 non-null float64
game_version       12312 non-null object
gold_left          12312 non-null int64
last_round         12312 non-null int64
level              12312 non-null int64
placement          12312 non-null int64
puuid              12312 non-null object
time_eliminated    12312 non-null float64
total_damage       12312 non-null int64
traits             12312 non-null object
units              12312 non-null object
dtypes: float64(2), int64(6), object(5)
memory usage: 1.3+ MB

In [119]:
df.head()

,match,game_datetime,game_length,game_version,gold_left,last_round,level,placement,puuid,time_eliminated,total_damage,traits,units
1,NA1_3746875488,1610851454142,2250.575928,Version 11.1.352.5559 (Jan 07 2021/11:01:16) [...,96,17,5,7,3DRIEI_nOPFW_BKLHRHLnCJt1tsBdMFxMGibXqHvq8EGud...,913.774658,4,"[{""name"": ""Cultist"", ""num_units"": 1, ""style"": ...","[{""character_id"": ""TFT4_TwistedFate"", ""items"":..."
2,NA1_3749923781,1611027822978,2215.650146,Version 11.1.352.5559 (Jan 07 2021/11:01:16) [...,1,40,9,2,jfGWGsljxPRpSyGp4lVAzzdcY6aZKf9imdmXe-8wANoEGW...,2203.716309,150,"[{""name"": ""Boss"", ""num_units"": 1, ""style"": 3, ...","[{""character_id"": ""TFT4_Yasuo"", ""items"": [38, ..."
3,NA1_3749923781,1611027822978,2215.650146,Version 11.1.352.5559 (Jan 07 2021/11:01:16) [...,20,31,8,5,70-FUhEOQPr326V5dWPJSBmZFEJAmXJen3pJX0rR89ECV0...,1733.004272,76,"[{""name"": ""Boss"", ""num_units"": 1, ""style"": 3, ...","[{""character_id"": ""TFT4_Maokai"", ""items"": [], ..."
4,NA1_3749923781,1611027822978,2215.650146,Version 11.1.352.5559 (Jan 07 2021/11:01:16) [...,21,28,7,7,riNZSG43m5ZzVSVdocybFF7rzYHqaac7Myjk-_baSQ9teA...,1563.243164,43,"[{""name"": ""Cultist"", ""num_units"": 1, ""style"": ...","[{""character_id"": ""TFT4_Nidalee"", ""chosen"": ""S..."
5,NA1_3749923781,1611027822978,2215.650146,Version 11.1.352.5559 (Jan 07 2021/11:01:16) [...,8,31,7,4,ejuPVADo-UdlbybzXApopJD9rfyZoq162uZM81fnoavywl...,1722.106201,56,"[{""name"": ""Divine"", ""num_units"": 1, ""style"": 0...","[{""character_id"": ""TFT4_Diana"", ""items"": [67],..."

In [126]:
df.traits.apply(json.loads) \
       .apply(pd.io.json.json_normalize)\
       .pipe(lambda x: pd.concat(x.values))

                name  num_units  style  tier_current  tier_total
0            Cultist          1      0             0           3
1            Duelist          1      0             0           4
2               Dusk          1      0             0           3
3          Set4_Mage          1      0             0           3
4      Set4_Vanguard          1      0             0           4
5            Warlord          1      0             0           3
0               Boss          1      3             1           1
1            Cultist          1      0             0           3
2             Divine          2      1             1           4
3            Duelist          6      3             3           4
4               Dusk          1      0             0           3
5            Emperor          1      3             1           1
6             Keeper          1      0             0           3
7         Set4_Adept          1      0             0           3
8       Set4_Brawler          1      0             0           4
9   Set4_Enlightened          1      0             0           3
10        Set4_Exile          2      3             2           2
11           Warlord          5      1             1           3
0               Boss          1      3             1           1
1             Divine          1      0             0           4
2            Fortune          1      0             0           2
3             Hunter          2      1             1           4
4          Moonlight          1      0             0           2
5       Set4_Brawler          8      4             4           4
6     Set4_Elderwood          3      1             1           3
7            Warlord          1      0             0           3
0            Cultist          1      0             0           3
1             Divine          1      0             0           4
2               Dusk          1      0             0           3
3            Fortune          2      0             0           2
..               ...        ...    ...           ...         ...
5         Set4_Exile          1      1             1           2
6          Set4_Mage          3      1             1           3
7        Set4_Mystic          4      3             2           3
8        Set4_Spirit          2      1             1           2
9      Set4_Vanguard          2      1             1           4
0               Dusk          6      4             3           3
1            Emperor          1      3             1           1
2             Keeper          2      1             1           3
3         Set4_Adept          2      1             1           3
4          Set4_Mage          1      0             0           3
5        Set4_Mystic          2      1             1           3
6         Set4_Ninja          1      1             1           2
7         Set4_Shade          1      0             0           3
8     Set4_Tormented          1      3             1           1
9      Set4_Vanguard          1      0             0           4
10      Sharpshooter          1      0             0           3
11           Warlord          1      0             0           3
0               Boss          1      3             1           1
1            Cultist          1      0             0           3
2             Divine          4      2             2           4
3            Duelist          1      0             0           4
4             Hunter          1      0             0           4
5         Set4_Adept          4      4             3           3
6       Set4_Brawler          2      1             1           4
7       Set4_Dazzler          2      1             1           2
8     Set4_Elderwood          1      0             0           3
9   Set4_Enlightened          1      0             0           3
10        Set4_Exile          1      1             1           2
11       Set4_Mystic          2      1             1           3
12        Set4_Ninja          1      1             1           2

[118352 rows x 5 columns]

In [118]:
df.units.apply(json.loads) \
       .apply(pd.io.json.json_normalize)\
       .pipe(lambda x: pd.concat(x.values))

/Users/hiowatah/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

        character_id        chosen         items name  rarity  tier
0   TFT4_TwistedFate           NaN           [3]            0     1
1        TFT4_Thresh           NaN           [6]            1     1
2       TFT4_XinZhao           NaN           [3]            2     1
0         TFT4_Yasuo           NaN   [38, 56, 6]            0     2
1         TFT4_Fiora           NaN            []            0     2
2           TFT4_Jax           NaN            []            1     2
3       TFT4_Kalista           NaN      [78, 67]            2     2
4       TFT4_XinZhao       Warlord  [49, 16, 14]            2     3
5          TFT4_Sett           NaN          [78]            4     1
6          TFT4_Azir           NaN            []            4     2
7        TFT4_LeeSin           NaN          [35]            4     1
8          TFT4_Yone           NaN          [16]            4     1
0        TFT4_Maokai           NaN            []            0     2
1     TFT4_TahmKench           NaN            []            0     2
2         TFT4_Sylas  Set4_Brawler      [57, 35]            1     2
3            TFT4_Vi           NaN            []            1     2
4          TFT4_Nunu           NaN            []            2     2
5       TFT4_Warwick           NaN            []            3     1
6          TFT4_Ashe           NaN  [12, 24, 23]            3     2
7          TFT4_Sett           NaN  [39, 57, 13]            4     1
0       TFT4_Nidalee  Sharpshooter            []            0     3
1         TFT4_Vayne           NaN            []            0     2
2     TFT4_TahmKench           NaN       [77, 7]            0     2
3         TFT4_Teemo           NaN            []            1     2
4          TFT4_Jinx           NaN  [16, 23, 23]            2     2
5       TFT4_Warwick           NaN            []            3     2
6          TFT4_Jhin           NaN            []            3     2
0         TFT4_Diana           NaN          [67]            0     3
1     TFT4_Lissandra           NaN            []            0     3
2         TFT4_Sylas           NaN            []            1     3
..               ...           ...           ...  ...     ...   ...
3        TFT4_Kennen           NaN            []            2     2
4          TFT4_Jhin  Sharpshooter  [17, 17, 16]            3     2
5         TFT4_Riven           NaN       [55, 4]            3     2
6          TFT4_Azir           NaN            []            4     1
7          TFT4_Yone           NaN            []            4     1
0         TFT4_Janna   Set4_Mystic          [48]            1     2
1         TFT4_Yuumi           NaN          [46]            2     2
2        TFT4_Aatrox           NaN            []            3     2
3          TFT4_Ahri           NaN  [39, 15, 19]            3     2
4    TFT4_Cassiopeia           NaN            []            3     2
5       TFT4_Sejuani           NaN  [59, 36, 25]            3     2
6          TFT4_Yone           NaN           [2]            4     1
7        TFT4_Lillia           NaN            []            4     1
0         TFT4_Vayne           NaN            []            0     2
1        TFT4_Thresh           NaN            []            1     2
2    TFT4_Cassiopeia           NaN            []            3     2
3         TFT4_Riven           NaN  [69, 25, 13]            3     2
4          TFT4_Shen    Set4_Adept          [36]            3     2
5          TFT4_Azir           NaN            []            4     2
6        TFT4_Lillia           NaN          [19]            4     1
7          TFT4_Kayn           NaN  [38, 44, 36]            4     2
0        TFT4_Irelia           NaN          [57]            2     1
1           TFT4_Lux           NaN            []            2     1
2       TFT4_Warwick           NaN  [49, 26, 33]            3     2
3          TFT4_Shen           NaN            []            3     1
4          TFT4_Sett           NaN            []            4     2
5        TFT4_LeeSin           NaN  [17, 44, 67]            4     2
6          TFT4_Yone    Set4_Adept  [99, 66, 11]            4     2
7        TFT4_Ezreal           NaN            []            4     1
8        TFT4_Zilean           NaN          [47]            4     2

[96739 rows x 6 columns]